{% extends 'base.html.twig' %}

<div class = "aboutMe">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam ornare augue non placerat tincidunt.
        Ut tincidunt velit felis, et porttitor lorem eleifend sed.
        Aliquam lacinia est at dolor pretium interdum.
        Pellentesque consectetur ipsum vel semper fermentum.
        Duis placerat euismod dolor id euismod.
        In egestas leo mi, nec rhoncus arcu laoreet non.
        Sed fermentum malesuada sem, vitae molestie magna efficitur ut.
        Ut congue lectus id nibh molestie sodales.

    </p>

</div>